# Ignore directories
node_modules/
build/
dist/

# Ignore files
.env

# Ignore specific files in frontend
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.production

# Ignore specific files in backend
backend/node_modules/
backend/.env
