.header__container {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Чтобы содержимое выровнялось по центру по вертикали */
}
.header__title{
    margin: 0;
}

.logout {
    color: red;
    font-size: 14px;
    font-weight: 700;
    background: none;
}
.logout:hover {
    text-decoration: underline;
    cursor: pointer;
}