/*============= sidebar =============*/

.sidebar {
    color: #3498db;
    top: 56px;
    width: 200px;
    padding: 10px;
    position: fixed;
    height: 100%;
    text-align: center;
}

.sidebar.active {
    bottom: 0;
}

.navigation__mobile {
    display: none;
}

.navigation__mobile-navigation {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #5d5f5f;
}

.bar {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #333; /* цвет полос */
    margin-bottom: 3px; /* расстояние между полосами */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    cursor: pointer;
    margin: 10px 0;
    padding: 10px 5px;
}

.sidebar li:hover {
    text-decoration: underline;
}

.sidebar li.active {
    background-color: #3498db;
    color: #ffffff;
}

.sidebar button {
    width: 100%;
    margin: 5px 0px;
}

/*============= page__controls =============*/
.page__controls {
    background: #f2f7f8;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page__controls input {
    background: #f2f7f8;
    padding: 10px 5px;
    margin: 0 5px;
    max-width: 300px;
    width: 100%;
    height: 40px;
}

.page__controls-right {
    display: flex;
    align-items: center;
    justify-content: end;
}
.page__controls-right button {
    margin: 0 5px;
}
.page__controls-filter {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.page__controls-filter__input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.page__controls button {
    background: #f2f7f8;
    max-width: 25px;
    width: 100%;
    height: auto;
    border: none;
}
.page__controls button img{
    width: 100%;
    transition: all 0.2s ease;
}
.page__controls button img:hover{
    opacity: 0.7;
}

.page__controls-refresh {
}

.page__controls-add {
}

.page__controls-remove {
}

.page__controls-edit {
}

.page__controls-refresh.active {
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.page table td select {
    position: absolute;
    bottom: -30px;
    display: none;
}

/*============= page =============*/

.page {
    margin-left: 200px;
}

/*============= tables =============*/

.table__container {
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 100vh;
    height: 80vh;
}

.table__container::-webkit-scrollbar {
    height: 8px;
    background-color: white;
}

.table__container::-webkit-scrollbar-thumb {
    background-color: #f2f7f8;
    border-radius: 4px;
}

.table__container::-webkit-scrollbar-thumb:hover {
    background-color: #f2f7f8;
}

table {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    border: 15px solid #f2f7f8;
    border-top: 5px solid #f2f7f8;
    border-collapse: collapse;
}

table th {
    font-weight: bold;
    padding: 5px;
    background: #f2f7f8;
    border: none;
    border-bottom: 5px solid #f2f7f8;
}

table td {
    padding: 5px;
    border: none;
    border-bottom: 5px solid #f2f7f8;
}

.arrow{
    max-width: 20px;
    max-height: 20px;
    padding: 2px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}
.arrow:hover{
    background: #d5e1e8;
}

/*============= tooltip =============*/

.tooltip {
    text-align: left;
    background: white;
    padding: 10px;
    position: relative;
    height: 50px;
}

.tooltip__controls {
    padding: 10px 20px;
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}
.tooltip__controls button {
    background: white;
    transition: all 0.2s ease;
}

.tooltip__controls-edit, .tooltip__controls-remove {
    margin: 0 5px;
    max-width: 25px;
    width: 100%;
    height: auto;
}

.tooltip__controls button svg {
    width: 100%;
}

.tooltip__controls button:hover {
    opacity: 0.7;
}

/*============= pagination =============*/

.pagination {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #3498db;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/*============= media =============*/

@media (max-width: 747px) {
    .page{
        margin-left: 0;
    }
    .sidebar{
        top: auto;
        position: fixed;
        background: white;
        width: 100%;
        height: 200px;
        left: 0;
        bottom: -200px;
        transition: bottom 0.3s;
    }

    .navigation__mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        position: fixed;
        background: white;
        width: 100%;
        left: 0;
        bottom: 0;
    }

}