.button-blue {
    width: 90%;
    margin: auto;
}

/* Общие стили для <p> */
.login-message {
    font-family: Arial, sans-serif; /* Шрифт */
    font-size: 16px; /* Размер шрифта */
    margin: 10px; /* Отступ снизу */
}

/* Стили для ссылки */
.login-link {
    color: #3498db; /* Цвет ссылки */
    text-decoration: underline; /* Подчеркивание ссылки */
    cursor: pointer; /* Изменение курсора при наведении */
}

/* Стили для ссылки при наведении */
.login-link:hover {
    color: #2980b9; /* Цвет ссылки при наведении */
}

/* Стили для жирного текста */
.login-text {
    font-weight: bold; /* Жирный шрифт */
    margin-right: 5px; /* Отступ справа */
}