/*==================== containers ====================*/

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container__form {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/*==================== text ====================*/
h2 {
    color: #666;
    margin-bottom: 20px;
    font-weight: 700;
}

p {
    color: #666;
}

/*==================== buttons ====================*/
button {
    cursor: pointer;
}
.button-red {
    margin: 10px;
    padding: 10px 15px;
    background-color: #FF0000FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button-red:hover {
    background-color: rgba(255, 0, 0, 0.65);
}

.button-blue {
    margin: 10px;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button-blue:hover {
    background-color: #2980b9;
}

.button-green {
    margin: 10px;
    padding: 10px 15px;
    background-color: #008000FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button-green:hover {
    background-color: #409d40;
}

/*==================== select ====================*/

/* Стили для элемента select */
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #3498db;
    border-radius: 5px;
    color: #666;
}

/* Стили для опций внутри элемента select */
select option {
    padding: 5px;
}

/* Стили для элемента select, когда он находится в фокусе */
select:focus {
    border-color: #2980b9;
}

/*==================== input ====================*/
.input-container {
    margin-bottom: 20px;
    position: relative;
}

.input-container > label {
    display: block;
    margin-bottom: 5px;
    font-weight: lighter;
    font-size: 14px;
    color: #777;
    position: absolute;
    left: 10px;
    top: 20px;
    transition: 0.3s;
}

input {
    width: calc(100%);
    padding: 12px 10px;
    box-sizing: border-box;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #3498db;
    outline: none;
    transition: border-color 0.3s;
}

input:focus,
input:valid {
    border-color: #3498db;
}

input:focus + label,
input:valid + label {
    top: 0;
    font-size: 12px;
    color: #3498db;
}

.key-value-pair {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*==================== visible ====================*/
.invisible {
    display: none !important;
}

.visible {
    display: block !important;
}

/*==================== oauth ====================*/
.oauth-google {
    transition: all 0.5s ease;
}

.oauth-google:hover {
    opacity: 0.7;
}