/* link <a> block with class "button" */
.button-blue {
    display: inline-block;
}

/* block "authenticated" modifier for block "block" */
.authenticated-block {
    margin-top: 20px;
}

/* modifier "button" for block "authenticated-block" */
.authenticated-block__button {
    background-color: #e74c3c;
}
