#!/usr/bin/make -f
export DH_VERBOSE = 1
url='https://codeload.github.com/Pavewleln/captive_portal/zip/refs/heads/main'
src_dir=captive_portal-main
pkg_name=captive-portal
dst_dir=/root

override_dh_auto_clean:
	if [ ! -f $(src_dir) ]; then rm -rf $(src_dir); fi
	mkdir $(src_dir)
	dh_auto_clean

override_dh_auto_configure:
	wget $(url) -O $(src_dir).zip
	unzip -x $(src_dir).zip 
	rm -f $(src_dir).zip

override_dh_auto_install:
	mkdir -p debian/captive-portal/root/
	cp -rv $(src_dir) debian/$(pkg_name)/root/captive_portal
	chmod +x debian/$(pkg_name)/root/captive_portal/*.sh

%:
	dh $@
